// Colors

$black: #000000;
$blue-react: #61DAFB;
$gray-dark-react: #20232A;
$gray-light-react: #282C34;
$white: #FFFFFF;

// Spacing

$xs-size: 0.8rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 6.4rem;
$xxl-size: 12.8rem;
$desktop-breakpoint: 45rem;
