// Container

.container {
    left: 50%;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
}

.container__logo {
	height: 256px;
	width: 256px; 
}

.container__title {
    color: $white;
    padding: $m-size 0 0 0;
}
