// ================================================================================================
// Mixins
// ================================================================================================

// Border radius

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

// Drop shadow

@mixin drop-shadow($offset-x, $offset-y, $blur-radius, $color) {
  -webkit-filter: drop-shadow($offset-x $offset-y $blur-radius $color);
  -moz-filter: drop-shadow($offset-x $offset-y $blur-radius $color);
  -ms-filter: drop-shadow($offset-x $offset-y $blur-radius $color);
  -o-filter: drop-shadow($offset-x $offset-y $blur-radius $color);
  filter: drop-shadow($offset-x $offset-y $blur-radius $color);
}

// User select

@mixin user-select($value) {
  -webkit-touch-callout: $value;
  -webkit-user-select: $value;
  -khtml-user-select: $value;
  -moz-user-select: $value;
  -ms-user-select: $value;
  -o-user-select: $value;
  user-select: $value;
}
