// ================================================================================================
// Variables
// ================================================================================================

// Breakpoints

// +----------+------------+-----------------+
// | Size     | Dimensions | Device          |
// +----------+------------+-----------------+
// | X-Small  | < 576px    | portrait phone  |
// | Small    | ≥ 576px    | landscape phone |
// | Medium   | ≥ 768px    | tablet          |
// | Large    | ≥ 992px    | desktop         |
// | X-Large  | ≥ 1200px   | large desktop   |
// | XX-Large | ≥ 1400px   | larger desktop  |
// +----------+------------+-----------------+

$breakpoints: (
  'sm': 576px,
  'md': 768px,
  'lg': 992px,
  'xl': 1200px,
  'xxl': 1400px
);

// Colors

$colors: (
  'app': (
    'gray': hsl(0, 0%, 33%),            // HEX: #545454
  ),
  'basic': (
    'black': hsl(0, 0%, 0%),            // HEX: #000000
    'white': hsl(0, 0%, 100%)           // HEX: #FFFFFF
  ),
  'react': (
    'blue-dark': hsl(220, 13%, 18%),    // HEX: #282C34    
    'blue-light': hsl(192, 95%, 68%)    // HEX: #61DAFB
  ),
  'shadow': (
    'black-25': hsla(0, 0%, 0%, 0.25),  // HEX: #000000
    'black-50': hsla(0, 0%, 0%, 0.5),   // HEX: #000000
    'black-75': hsla(0, 0%, 0%, 0.75)   // HEX: #000000
  )
);

// Font families

$font-family-serif: Georgia, Times, 'Times New Roman', serif;
$font-family-sans-serif: Arial, 'Helvetica Neue', Helvetica, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
