// ===========================================================================
// Variables
// ===========================================================================

// Breakpoints

$breakpoints: (
  'xs': 0,        // X-Small devices (portrait phones)
  'sm': 576px,    // Small devices (landscape phones)
  'md': 768px,    // Medium devices (tablets)
  'lg': 992px,    // Large devices (desktops)
  'xl': 1200px,   // X-Large devices (large desktops)
  'xxl': 1400px   // XX-Large devices (larger desktops)
);

// Colors

$colors: (
  'basic': (
    'black': hsl(0, 0%, 0%),
    'white': hsl(0, 0%, 100%)
  ),
  'react': (
    'crayola-sky-blue': hsl(192, 95.1%, 68.2%),
    'blue-charcoal': hsl(220, 13%, 18%)
  )
);

// Spacing

$spaces: (
  'xxs': 0.4rem,  // 4px
  'xs': 0.8rem,   // 8px
  'sm': 1.2rem,   // 12px
  'md': 1.6rem,   // 16px
  'lg': 3.2rem,   // 32px
  'xl': 6.4rem,   // 64px
  'xxl': 12.8rem  // 128px
);

// Typography

$font-family-serif: 'Cambria', 'Georgia', 'Times New Roman', serif;
$font-family-sans-serif: 'Arial', 'Calibri', 'Helvetica', 'Verdana', sans-serif;
$font-family-monospace: 'Consolas', 'Courier', 'Monaco', monospace;

$font-sizes: (
  'xs': 0.8rem,   // 8px  | 6pt
  'sm': 1.2rem,   // 12px | 9pt
  'md': 1.6rem,   // 16px | 12pt
  'lg': 2.4rem,   // 24px | 18pt
  'xl': 3.2rem,   // 32px | 24pt
  'xxl': 6.4rem   // 64px | 48pt
);
