// ================================================================================================
// Animations
// ================================================================================================

// Blink animation

.blink {
  animation-duration: 750ms;
  animation-iteration-count: 3;
  animation-name: blink;
  animation-timing-function: linear;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.25;
  }
  100% {
    opacity: 1;
  }
}

// Bounce animation

.bounce {
  animation-duration: 2500ms;
  animation-iteration-count: infinite;
  animation-name: bounce;
  animation-timing-function: linear;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(0);
  }
}

// Fade animation

.fade {
  animation-duration: 250ms;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-name: fade;
  animation-timing-function: linear;
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.25;
  }
}

// Scale animation

.scale {
  animation-duration: 250ms;
  animation-iteration-count: 1;
  animation-name: scale;
  animation-timing-function: linear;
}

@keyframes scale {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

// Spin animation

.spin {
  animation-duration: 15000ms;
  animation-iteration-count: infinite;
  animation-name: spin;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
