// ================================================================================================
// Base styles
// ================================================================================================

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background: map-get($colors, 'react', 'gray');
}
