// ================================================================================================
// Typography styles
// ================================================================================================

body {
  font-family: $font-family-sans-serif;
  font-size: 1.6rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
