// ================================================================================================
// Flexbox styles
// ================================================================================================

.flexbox-fullscreen {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
