// ================================================================================================
// Home styles
// ================================================================================================

.home {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  padding: 6.4rem 1.6rem 14rem;
  text-align: center;
}

.home__app-logo {
  height: 128px;
  pointer-events: none;
  width: 128px;
  @include drop-shadow(0.4rem, 0.4rem, 0.4rem, map-get($colors, 'shadow', 'black-50'));
}

.home__app-name {
  font-size: 3.2rem;
  font-weight: 400;
  padding: 3.2rem 0 4.2rem;
  @include drop-shadow(0.3rem, 0.3rem, 0.3rem, map-get($colors, 'shadow', 'black-50'));
}

.home__badges {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  a {
    text-decoration: none;
  }

  img {
    display: block;
    padding: 0.4rem;
    pointer-events: none;
    @include drop-shadow(0.3rem, 0.3rem, 0.3rem, map-get($colors, 'shadow', 'black-50'));
  }
}

// Landscape phones

@media (min-width: map-get($breakpoints, 'sm')) {
  .home__app-logo {
    height: 156px;
    width: 156px;
    @include drop-shadow(0.6rem, 0.6rem, 0.6rem, map-get($colors, 'shadow', 'black-50'));
  }

  .home__app-name {
    font-size: 3.8rem;
    @include drop-shadow(0.4rem, 0.4rem, 0.4rem, map-get($colors, 'shadow', 'black-50'));
  }
}

// Tablets

@media (min-width: map-get($breakpoints, 'md')) {
  .home__app-logo {
    height: 196px;
    width: 196px;
    @include drop-shadow(0.8rem, 0.8rem, 0.8rem, map-get($colors, 'shadow', 'black-50'));
  }

  .home__app-name {
    font-size: 4.4rem;
    @include drop-shadow(0.5rem, 0.5rem, 0.5rem, map-get($colors, 'shadow', 'black-50'));
  }
}

// Desktops

@media (min-width: map-get($breakpoints, 'lg')) {
  .home__app-logo {
    height: 218px;
    width: 218px;
    @include drop-shadow(1rem, 1rem, 1rem, map-get($colors, 'shadow', 'black-50'));
  }

  .home__app-name {
    font-size: 5rem;
    @include drop-shadow(0.6rem, 0.6rem, 0.6rem, map-get($colors, 'shadow', 'black-50'));
  }
}
