// ================================================================================================
// Home page styles
// ================================================================================================

.home-container {
  align-items: center;
  flex-grow: 1;
  justify-content: center;
  padding: map-get($spaces, 'xl') map-get($spaces, 'md') map-get($spaces, 'xxxl');
  text-align: center;
}

.home-container__logo {
  height: 218px;
  width: 218px;
  @include drop-shadow(5px, 5px, 5px, map-get($colors, 'shadow', 'black-50'));
}

.home-container__title {
  color: map-get($colors, 'basic', 'white');
  font-size: map-get($font-sizes, 'xxl');
  font-weight: normal;
  padding: map-get($spaces, 'lg') 0 map-get($spaces, 'xl');
  @include drop-shadow(4px, 4px, 4px, map-get($colors, 'shadow', 'black-50'));
}

.home-container__badges {
  a {
    text-decoration: none;
  }

  img {
    display: block;
    padding: 0.2rem map-get($spaces, 'xxs');
    @include drop-shadow(3px, 3px, 3px, map-get($colors, 'shadow', 'black-50'));
  }
}

@media screen and (max-width: map-get($breakpoints, 'sm')) {
  .home-container {
    padding: map-get($spaces, 'lg') map-get($spaces, 'md') map-get($spaces, 'xl');
  }

  .home-container__logo {
    width: 128px;
    height: 128px;
    @include drop-shadow(4px, 4px, 4px, map-get($colors, 'shadow', 'black-50'));
  }

  .home-container__title {
    font-size: map-get($font-sizes, 'xl');
    @include drop-shadow(3px, 3px, 3px, map-get($colors, 'shadow', 'black-50'));
  }

  .home-container__badges {
    img {
      @include drop-shadow(2px, 2px, 2px, map-get($colors, 'shadow', 'black-50'));
    }
  }
}
